@font-face {
	font-family: 'Open_Sans_Condensed_Light'; 
	font-style: normal;
	font-weight: 400;
	src: url('http://ros-build.com/fonts/Open_Sans_Condensed_Light.ttf');
}

/* GENERAL */
body {
	background: #000 url('images/background.jpg') top center repeat-y;
}
.wrapper {
	width: 1000px;
	margin:0 auto;
	position:relative;
	display:block;
}
.right-col {
    float: right;
    position: relative;
    width: 380px;
}
.mid-col {
    margin-right: 380px;
    override: hidden;
    position: relative;
    text-align: center;
}
.left-col {
    float: left;
    position: relative;
    text-align: right;
    width: 380px;
}
.left-col .colorpane {
    right: 0px;
}
header .right-col, header .left-col {
    height: 200px;
}
footer .right-col, footer .left-col {
    height: 90px;
}

a:link, a:visited {
	text-decoration:underline;
}
a:hover, a:focus {
	text-decoration:underline;
}	


/* HEADER */
.header {
	height: 260px;
}
header #logo {}
header #logo:link, 
header #logo:visited, 
header #logo:hover, 
header #logo:focus {
	text-decoration:none;
}


/* BODY CONTENT */
article {
	background: #fff url('images/bgarticle.jpg') top center no-repeat;
	float:left;
	width: 737px;
	min-height:500px;
/*	border-bottom:1px solid #c8c8c8;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #c8c8c8;*/
	-moz-box-shadow: 0px 0px 25px rgba(89, 8, 12, 0.3), inset 0px 0px 25px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 25px rgba(89, 8, 12, 0.3), inset 0px 0px 25px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 25px rgba(89, 8, 12, 0.3), inset 0px 0px 25px rgba(0, 0, 0, 0.75);	
}
article h1 {
	color: #C05915; /* #AF2509 */
	font-family: 'Open_Sans_Condensed_Light', arial, helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
    letter-spacing: 2px;
	margin:0 0 45px 0;
	text-shadow: 2px 2px 1px rgba(0,0,0,.2);
}
article h2 {
	font-family: 'Open_Sans_Condensed_Light', arial, helvetica, sans-serif;
	margin:0 0 10px 0;
	color: #222222;
	font-size:30px;
}
article h3 {
	font-family: 'Open_Sans_Condensed_Light', arial, helvetica, sans-serif;
	margin:0 0 15px 0;
	color: #994B16;
	font-size:25px;
}
article h4 {
	font-family: 'Open_Sans_Condensed_Light', arial, helvetica, sans-serif;
	margin:0 0 10px 0;
	color: #555;
	font-size:20px;
	font-weight:100;
}
article h5 {
	font-family: arial, serif;
	margin:0 0 10px 0;
	color: #333;
	font-size:15px;
}
article h6 {
	font-family: arial, serif;
	margin:0 0 10px 0;
	color: #666;
	font-size:14px;
}
article section {
	padding:40px;
	line-height:22px;
	font-size:14px;
	color:#333;	
}
article section p {margin:0 0 25px 0;}
article section ul, 
article section ol {
	margin:0 0 25px 30px;
}
article section ul ul, 
article section ol ol,
article section ul ol, 
article section ol ul {
	margin:0 0 0 25px;
}
article section ul li {
	background: url('images/bullit.gif') 0 8px no-repeat;
	padding-left: 10px;
}
article section ul li ul li {
	background: url('images/bullit-arrow.gif') 0 8px no-repeat;
	padding-left: 10px;
}
article section code {
	border:1px solid #ccc;
	background:#f6f6f6;
	font-size:12px;
	padding:1px;
}
article section pre {
	border:1px solid #ccc;
	background:#f6f6f6;
	padding:15px;
	margin:0 0 25px 0;
	line-height:16px;
	font-size:13px;
	color:#555;
	text-shadow: 1px 1px 0px #fff;
	border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-khtml-border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
}
article section pre code {
	border:none;
	background:none;
	padding:none;
}
article section blockquote {
	margin:0 0 25px 20px;
	color:#555;
	line-height:20px;
	font-family:georgia, garamond, serif;
	font-style:italic;
	padding:0 0 0 15px;
	border-left:1px solid #ccc;
}
article section .footer {
	color:#888;
	font-size:11px;
	margin-top:40px;
	border-top:1px dotted #ccc;
	padding-top:15px;
}
article section .footer p {
	margin:0 0 10px 0;
}


/* SIDEBAR */
aside {
	float:right;
	width:260px;
	margin:40px 0 0 0;
}
aside .section {
	padding:0 0 0 30px;	
}
aside .section {
	margin:0 0 40px 0;
	font-size:11px;
	line-height:16px;
	color:#555;
	text-shadow: 1px 1px 0px #fff;
}
aside .section p {
	margin:0 0 15px 0;
}
aside .section ul, 
aside .section ol {
	margin:0 0 15px 20px;
}
aside .section h2 {
	background:#333;
	border-top:1px solid rgba(255,255,255,.4);
	text-shadow: 1px 1px 0px rgba(0,0,0,.5);
	text-transform:uppercase;
	background: -moz-linear-gradient(top, #444 0%, #222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); 
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	font-weight:100;
	color:#fff;
	font-size:19px;
	line-height:19px;
	margin:0 0 20px -31px;
	padding:5px 0 7px 25px;
	border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-khtml-border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
}

/* SIDEBAR: socialmedia */
aside #socialmedia {
	position:relative;
}
aside #socialmedia h2 {
	width:65px;
	background: #316594;
	background: -moz-linear-gradient(top, #316594 0%, #2C5983 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#316594), color-stop(100%,#2C5983));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#316594', endColorstr='#2C5983',GradientType=0 ); 
}
aside #socialmedia .icons {
	position:absolute;
	top:3px;
	right:0px;	
}


/* FOOTER */
footer {
	padding: 10px 0;
	color: #FE8A3D;
	font-size: 14px;
}
footer .left {
	float:left;
	width:40%;
	text-align:left;
}
footer .right {
	float:right;
	width:60%;
	text-align:right;
}
footer .left, footer .right {
    margin-top: 0px;
}
footer a:link, footer a:visited {
    color: #808080; 
	text-decoration:underline;
}
footer a:hover, footer a:focus {
    color: #F8D8A7; 
	text-decoration:underline;
}

.border-shadowed { 
	-moz-box-shadow: 0px 0px 5px rgba(89, 8, 12, 0.3), inset 0px 0px 1px rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: 0px 0px 5px rgba(89, 8, 12, 0.3), inset 0px 0px 1px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0px 5px rgba(89, 8, 12, 0.3), inset 0px 0px 1px rgba(255, 255, 255, 0.75);
}

/* Beautiful Buttons for Twitter Bootstrappers http://charliepark.org/bootstrap_buttons/ */
.custom-brown { /* тёмно-оранжевый */
  background-color: hsl(41, 85%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF6600", endColorstr="#CA5507");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#FF6600), to(#CA5507));
  background-image: -moz-linear-gradient(top, #FF6600, #CA5507);
  background-image: -ms-linear-gradient(top, #FF6600, #CA5507);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF6600), color-stop(100%, #CA5507));
  background-image: -webkit-linear-gradient(top, #FF6600, #CA5507);
  background-image: -o-linear-gradient(top, #FF6600, #CA5507);
  background-image: linear-gradient(#FF6600, #CA5507);
  border-color: #CA5507 #CA5507 hsl(41, 85%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}
.custom-hotel { /* тёмно-серый */
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
  background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
  background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
  background-image: -o-linear-gradient(top, #5b5b5b, #282828);
  background-image: linear-gradient(#5b5b5b, #282828);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.custom-black { /* чёрный */
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282828", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#282828), to(#000000));
  background-image: -moz-linear-gradient(top, #282828, #000000);
  background-image: -ms-linear-gradient(top, #282828, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #282828), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #282828, #000000);
  background-image: -o-linear-gradient(top, #282828, #000000);
  background-image: linear-gradient(#282828, #000000);
  border-color: #282828 #000000 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.custom-bravo { /* ярко-оранжевый */
  background-color: hsl(36, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00));
  background-image: -moz-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -ms-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00));
  background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -o-linear-gradient(top, #ffad32, #cc7a00);
  background-image: linear-gradient(#ffad32, #cc7a00);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}
.custom-juliet { /* оранжевый */
  background-color: hsl(41, 85%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efb73d", endColorstr="#a5750d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#efb73d), to(#a5750d));
  background-image: -moz-linear-gradient(top, #efb73d, #a5750d);
  background-image: -ms-linear-gradient(top, #efb73d, #a5750d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efb73d), color-stop(100%, #a5750d));
  background-image: -webkit-linear-gradient(top, #efb73d, #a5750d);
  background-image: -o-linear-gradient(top, #efb73d, #a5750d);
  background-image: linear-gradient(#efb73d, #a5750d);
  border-color: #a5750d #a5750d hsl(41, 85%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}
.colorpane {
	font-family: Open_Sans_Condensed_Light;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px; /* normal */
    opacity: 0.9;
    padding: 7px 14px;
    text-transform: uppercase;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
/*
.colorpane:hover {
  background-position: 0 -15px;
}*/
.colorpane99 {
    position: absolute;
    bottom: 0px;
    width: 93%;
}
.colorpane66 {
    position: absolute;
    bottom: 55px;
    width: 70%;
}
.colorpane33 {
    position: absolute;
    bottom: 110px;
    width: 48%;
}

#feedback {
    font-size: 16px;
    font-weight: bold;
    height: 150px;
    position: absolute;
    right: 0px;
    text-shadow: 2px 2px 0px rgba(0,0,0, .2);
    width: 240px;
}
.phone {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
	text-shadow: 5px 5px 3px rgba(255,111,15,.2);
}
.phone-number {
    font-size: 52px;
}
.phone-code {
    font-size: 32px;
}
.right-col .phone {
    padding-left: 10px;
}
.left-col .phone {
    padding-right: 10px;
}

img.contact {
	float: left;
	margin: 0 20px 40px 0;
}
